<div class="container">

  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" data-ng-model="searchText.name"/>
          <div class="input-group-btn">
            <button class="btn btn-default">
              <span class="glyphicon glyphicon-filter"></span> Filter
            </button>
            <button class="btn btn-default" data-ng-click="addEmp = true;">
              <span class="glyphicon glyphicon-plus"></span> Add Employee
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      &nbsp;
    </div>
  </div>
  <div class="row">

    <div class="col-xs-12 col-md-2" data-ng-repeat="employee in employees | filter:searchText">
      <div class="panel-wrapper">
        <div class="panel-title">
          <a ui-sref="employees.view({empId: employee._id})">{{employee.name}}</a>
        </div>
        <div class="panel-stage">
          <div class="row">
            <div class="col-xs-12">
              <div class="panel-wrapper">
                <div class="panel-stage">
                  <img src="images/profile-male.png" class="img-responsive">
                </div>

              </div>
            </div>

          </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            {{employee.organization}}
                        </div>
                        <div class="panel-stage">
                            <li data-ng-repeat="skill in employee.skills">{{skill}}</li>
                        </div>

                    </div>
                </div>

            </div>

</div>
        </div>
      </div>
    </div>
  <div class="overlay" ng-show='addEmp'>
      <form>
          <div class="panel-wrapper">
              <label class="control-label">Name: </label>
              <input type="text" class="form-control" data-ng-model="newEmp.name"/>
          </div>

          <div class="panel-wrapper">
              <label class="control-label">Projects: </label>
              <span data-ng-repeat="newProject in newEmp.projects">{{($index+1)}} {{newProject}} </span>
              <br>
              <button class="btn" data-ng-click="newEmp.projects = newEmp.projects || [];addUniqueItem(newEmp.projects, addProject.name)">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
              <button class="btn" data-ng-click="newEmp.projects = [];">
                  <span class="glyphicon glyphicon-refresh"></span>
              </button>
              <select ng-model="addProject" ng-options="project.name for project in projects"></select>
          </div>

          <div class="panel-wrapper">
              <label class="control-label">Organization: </label>
              <span>{{addOrg.name}} </span>
              <br>
              <span class="glyphicon glyphicon-check"> :  </span>
              <select ng-model="addOrg" ng-options="organization.name for organization in organizations"></select>
          </div>

          <div class="panel-wrapper">
              <label class="control-label">Billable: </label>
              <input type="checkbox" data-ng-model="newEmp.billable"/>
          </div>

          <div class="panel-wrapper">
              <label class="control-label">Skills: </label>
              <span data-ng-repeat="newSkill in newEmp.skills">{{($index+1)}} {{newSkill}} </span>
              <br>
              <button class="btn"
                      data-ng-click="newEmp.skills = newEmp.skills || [];addUniqueItem(newEmp.skills, addSkill)">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
              <button class="btn" data-ng-click="newEmp.skills = [];">
                  <span class="glyphicon glyphicon-refresh"></span>
              </button>
              <select ng-model="addSkill" ng-options="skill for skill in skills"></select>
          </div>

          <button class="btn btn-default" data-ng-click="addEmployee(newEmp);">
              <span class="glyphicon glyphicon-plus"></span> Add
          </button>

          <button class="btn btn-default" data-ng-click="addEmp = false; newEmp = {};">
              <span class="glyphicon glyphicon-refresh"></span> Cancel
          </button>
      </form>
  </div>
</div>
