<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel-wrapper">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text" value={{organization.name}}>
                        </div>
                    </div>
                </div>
                <div class="panel-stage">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel-wrapper">
                                <div class="panel-title">
                                    Billable Vs Bench
                                </div>
                                <div class="panel-stage">
                                    TBD
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel-wrapper">
                                <div class="panel-title">
                                    <h4>Projects</h4>
                                </div>
                                <div class="panel-stage">
                                    <ul class="list-unstyled">
                                      <li data-ng-repeat="project in organization.projects">
                                        <form class="form-inline">
                                          <div class="row padding-left-projects">
                                            <div class="col-xs-3">
                                              <input ng-show="editMode" class="form-control input-sm" type="text" ng-model="newProject" value={{project}}>
                                              <label class="control-label" ng-show="!editMode" ng-bind="project"></label>
                                            </div>

                                            <div class="col-xs-1">
                                              <span class="glyphicon glyphicon-edit" ng-show="!editMode" ng-click="editMode = true"></span>
                                              &nbsp;<span class="glyphicon glyphicon-ok" ng-show="editMode" ng-click="editMode = false;updateProject($index, newProject, organization.name);"></span>
                                              &nbsp;<span class="glyphicon glyphicon-remove-circle" ng-show="editMode" ng-click="editMode = false; resetProject($index,organization.projects[$index],organization.name)"></span>
                                              &nbsp;<span class="glyphicon glyphicon-remove" ng-show="!editMode" ng-click="deleteProject(project, organization.name)"></span>
                                            </div>
                                            <div class="col-xs-8"></div>
                                          </div>
                                        </form>
                                      </li>
                                    </ul>
                                </div>

                                <div class="addProject">
                                  <input type="text" ng-model="addNewProject">
                                  <button ng-click="addProject(organization)" class="add_btn">Add Project</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-notes">
                    Owned by {{organization.owner}}
                </div>

            </div>
        </div>
    </div>
</div>
