<div class="container">

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" data-ng-model="searchText.name"/>

                <div class="input-group-btn">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-filter"></span> Filter
                    </button>
                    <button class="btn btn-default" data-ng-click="addProj = true;">
                        <span class="glyphicon glyphicon-plus"></span> Add Project
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        &nbsp;
    </div>
</div>
<div class="row">
<div class="col-xs-12 col-md-4" data-ng-repeat="project in projects | filter:searchText">
    <div class="panel-wrapper">
        <div class="panel-title">
            <a ui-sref="projects.view({projId: project._id})">{{project.name}} :</a>
            <span class="badge">{{project.openpositions}}</span> Open Positions
        </div>
        <div class="panel-stage">
            <div class="row">
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title" ng-class='{red: project.reddays > 0}'>
                            Red Days
                        </div>
                        <div class="panel-stage">
                            <div class="red-days">{{project.reddays}}</div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Billable People
                        </div>
                        <div class="panel-stage">
                            <img src="images/{{project.billable}}" class="img-responsive">
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel-title" >
                            <span data-ng-repeat="employee in project.employees">{{employee}}, </span>
                            <span>... </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-notes">
            Owned by {{project.owner}}
        </div>
    </div>
</div>

</div>

    <div class="overlay" ng-show='addProj'>
        <form>
            <div class="panel-wrapper">
                <label class="control-label">Name: </label>
                <input type="text" class="form-control" data-ng-model="newProj.name"/>
            </div>

            <div class="panel-wrapper">
                <label class="control-label">Owner: </label>
                <span>{{addOwner.name}} </span>
                <br>
                <span class="glyphicon glyphicon-check"> :  </span>
                <select ng-model="addOwner" ng-options="employee.name for employee in employees"></select>
            </div>

            <div class="panel-wrapper">
                <label class="control-label">Employees: </label>
                <span data-ng-repeat="newEmp in newProj.employees">{{($index+1)}} {{newEmp}} </span>
                <br>
                <button class="btn" data-ng-click="newProj.employees = newProj.employees || []; newProj.employees.push(addEmp.name);">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button class="btn" data-ng-click="newProj.employees = [];">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
                <select ng-model="addEmp" ng-options="employee.name for employee in employees"></select>
            </div>

            <div class="panel-wrapper">
                <label class="control-label">Organization: </label>
                <span>{{addOrg.name}} </span>
                <br>
                <span class="glyphicon glyphicon-check"> :  </span>
                <select ng-model="addOrg" ng-options="organization.name for organization in organizations"></select>
            </div>


            <div class="panel-wrapper">
                <label class="control-label">Open Positions: </label>
                <input type="text" class="form-control" data-ng-model="newProj.openpositions"/>
            </div>


            <div class="panel-wrapper">
                <label class="control-label">Red Days: </label>
                <input type="text" class="form-control" data-ng-model="newProj.reddays"/>
            </div>

            <button class="btn btn-default" data-ng-click="addProject(newProj)">
                <span class="glyphicon glyphicon-plus"></span> Add
            </button>

            <button class="btn btn-default" data-ng-click="addProj = false; newProj = {};">
                <span class="glyphicon glyphicon-refresh"></span> Cancel
            </button>
        </form>
    </div>

</div>
